<% include ../header.ejs %>
<% include ../navibar.ejs %>
  <div class="col-sm-8">
    <div class="panel panel-default">
      <div class="panel-heading">
        team list
      </div>
      <div class="panel-body">
        <!-- teamcard -->
            <% const array = ["loyalty", "team", "defence", "nation", "hoops", "hustle", "practice", "amazing", "heart", "champion"] %>
            <%teams.forEach(function(team){%>
              <div class="col-sm-12 hover" onclick="location.href='/team/home/<%=team.name%>'" style="cursor : pointer; margin-bottom: 1%; border : #E6E6E6 solid 0.5px;">
                <div class="col-sm-4">
                  <%if(team.teamicon){%>
                  <img style="border : #6E6E6E double 0.5px; width : 100%; margin: 1%; margin-top: 5%;" src="/uploads/team/<%=team.teamicon%>" alt="">
                  <%} else {%>
                    <div class="col-sm-12" style="padding-top : 30%; text-align: center;">
                      <h1 style="font-family: 'UnifrakturMaguntia', cursive;"><%=array[Math.ceil((Math.random()*10))-1]%></h1>
                    </div>
                  <%}%>
                </div>
                <div class="col-sm-8">
                  <h4><strong>|</strong> Team <%=team.name%></h4>
                  <table class="table table-borderless" style="font-size: 80%;">
                      <tr>
                        <td>court</td>
                        <td><%=team.court%></td>
                      </tr>
                      <tr>
                        <td>location</td>
                        <td><%=team.getRegion%></td>
                      </tr>
                      <tr>
                        <td>since</td>
                        <td><%=team.createdAt.toLocaleDateString()%></td>
                      </tr>
                      <tr>
                        <td>leader</td>
                        <td><%=team.leader.profile.name%></td>
                      </tr>
                      <tr>
                        <td>members</td>
                        <td><%=team.members.length%></td>
                      </tr>
                      <tr>
                        <td>training</td>
                        <td><%=team.getDay%> <%=team.training.time%></td>
                      </tr>
                    </table>
                </div>
              </div>
            <%})%>
           <!-- pagination  -->
          <div class="col-sm-12" style="text-align : center;">
            <ul>
              <%
                var offset = 3;
                var partialQuery;
                if(urlQuery) partialQuery = urlQuery.replace(/&page=(.*?)(&|$)/ig,"");
              %>
              <% for(i=1;i<=maxPage;i++){ %>
                <% if(i<=offset || i>maxPage-offset || (i>=page-(offset-1) && i<=page+(offset-1))){ %>
                  <% if(i != page){ %>
                    <li style="display : inline-block;"><a href="/team?<%=partialQuery%>&page=<%= i %>">[ <%= i %> ]</a></li>
                    <% } else { %>
                      <li style="display : inline-block;">[ <b><%= i %></b> ]</li>
                      <% } %>
                    <% } else if(i == offset+1 || i == maxPage-offset){ %>
                      <li style="display : inline-block;">...</li>
                    <% } %>
                  <%}%>
            </ul>
          </div>
      <form class="col-sm-12" action="" id="search">
          <table class="table">
            <tr>
              <td class=col-sm-3>
                <select class="form-control" name="searchType">
                  <% var select %>
                  <option value="name"
                  <%= search.searchType=="name"?select="selected":"" %>>team</option>
                  <option value="addr"
                  <%= search.searchType=="addr"?select="selected":"" %>>addr</option>
                </select>
              </td>
              <td class="col-sm-7">
                <input class="form-control" type="text" name="searchText" value="<%= select?search.searchText:"" %>">
              </td>
              <td class="col-sm-2">
                <button class="btn btn-default" type="submit" style="width : 100%;">search</button>
              </td>
            </tr>
          </table>
        </form>
    </div>
  </div>
  </div>
  <div class="col-sm-4">
    <%if(!conf){%>
    <div class="panel panel-default">
      <div class="panel-heading">
        team create
      </div>
      <div class="panel-body">
          <button class="btn btn-default" id="create" type="button" name="button" style="width : 100%; margin : 2%;" onclick="location.href='/team/register'">create team</button>
      </div>
    </div>
    <%}%>
    <div class="panel panel-default">
        <div class="panel-heading">
          team ranking
        </div>
        <div class="panel-body">
           <table class="table table-striped table-hover table-borderless">
          <% let ranking = 0; %>
          <%ranks.forEach(function(rank){%>
            <tr>
              <td class="col-sm-1"><%= ranking += 1%></td>
              <td class="col-sm-7"><%=rank.team.name%></td>
              <td class="col-sm-4"><div style="padding : 3%; padding-right : 10%; width : 100%; text-align: right; color : #ffffff; background-color: #B40404; border-radius: 5px;"><%=rank.point%> point</div></td>
            </tr>
          <%})%>
          </table>
        </div>
      </div>
  </div>

  <script>
    $('.hover').mouseover(function(){
      $(this).css("filter", "invert(30%)");
    });
    $('.hover').mouseout(function(){
      $(this).css("filter", "invert(0%)");
    });
  </script>

<% include ../footer.ejs %>
