<% include ../../header.ejs %>
<% include ../../navibar.ejs %>
<div class="col-sm-8">
<div class="panel panel-default">
    <div class="panel-heading">
        notice
    </div>
    <div class="panel-body">
        <%if(userData && userData.username == "admin"){%>
        <a href="/admin/notice/register" style="text-decoration: none;">
        <div class="col-sm-12" style="text-align: right; padding-right: 5%; margin: 2%;"><i class="fas fa-pencil-alt"></i> write</div>
        </a>
        <%}%>
            <table class="table table-borderless table-striped table-hover">
                <tr>
                    <th class="col-sm-8">subject</th>
                    <th class="col-sm-2">created_at</th>
                    <th class="col-sm-2">views</th>
                </tr>
                <%notices.forEach(function(notice){%>
                    <tr onclick="location.href='/admin/notice/content/<%=notice.id%>'">
                        <td><%=notice.subject%></td>
                        <td><%=notice.created_at.toLocaleDateString()%></td>
                        <td><%=notice.views.length%></td>
                    </tr>
                <%})%>
            </table>
            </div>
        </div>
        <div class="" style="text-align : center;">
            <ul>
              <%
                var offset = 3;
                var partialQuery;
                if(urlQuery) partialQuery = urlQuery.replace(/&page=(.*?)(&|$)/ig,"");
              %>
              <% for(i=1;i<=maxPage;i++){ %>
                <% if(i<=offset || i>maxPage-offset || (i>=page-(offset-1) && i<=page+(offset-1))){ %>
                  <% if(i != page){ %>
                    <li style="display : inline-block;"><a href="/admin/notice?<%=partialQuery%>&page=<%= i %>">[ <%= i %> ]</a></li>
                    <% } else { %>
                      <li style="display : inline-block;">[ <b><%= i %></b> ]</li>
                      <% } %>
                    <% } else if(i == offset+1 || i == maxPage-offset){ %>
                      <li style="display : inline-block;">...</li>
                    <% } %>
                  <%}%>
            </ul>
          </div>
          <form class="col-sm-12" action="" id="search" style="width : 90%;">
              <table class="table">
                <tr>
                  <td class=col-sm-3>
                    <select class="form-control" name="searchType">
                      <% var select %>
                      <option value="subject"
                      <%= search.searchType=="subject"?select="selected":"" %>>subject</option>
                      <option value="content"
                      <%= search.searchType=="content"?select="selected":"" %>>content</option>
                    </select>
                  </td>
                  <td class="col-sm-7">
                    <input class="form-control" type="text" name="searchText" value="<%= select?search.searchText:"" %>">
                  </td>
                  <td class="col-sm-2">
                    <button class="btn btn-default" type="submit" style="width : 100%;">search</button>
                  </td>
                </tr>
              </table>
            </form>
    </div>
    <div class="col-sm-4">

    </div>
<% include ../../footer.ejs %>