<% include ../../header.ejs %>
<% include ../../navibar.ejs %>
<div class="col-sm-8">
<div class="panel panel-default">
    <div class="panel-heading">
        freetalk
    </div>
    <div class="panel-body">
            <table class="table table-borderless table-striped table-hover">
                <tr>
                    <th class="col-sm-8">subject</th>
                    <th class="col-sm-2">created_at</th>
                    <th class="col-sm-2">views</th>
                </tr>
                <%freetalks.forEach(function(freetalk){%>
                    <tr onclick="location.href='/board/freetalk/content/<%=freetalk.id%>'">
                        <td><%=freetalk.subject%></td>
                        <td><%=freetalk.created_at.toLocaleDateString()%></td>
                        <td><%=freetalk.views.length%></td>
                    </tr>
                <%})%>
            </table>
            </div>
        </div>
        <div class="" style="text-align : center;">
            <ul>
              <%
                var offset = 3;
                var partialQuery;
                if(urlQuery) partialQuery = urlQuery.replace(/&page=(.*?)(&|$)/ig,"");
              %>
              <% for(i=1;i<=maxPage;i++){ %>
                <% if(i<=offset || i>maxPage-offset || (i>=page-(offset-1) && i<=page+(offset-1))){ %>
                  <% if(i != page){ %>
                    <li style="display : inline-block;"><a href="/board/freetalk?<%=partialQuery%>&page=<%= i %>">[ <%= i %> ]</a></li>
                    <% } else { %>
                      <li style="display : inline-block;">[ <b><%= i %></b> ]</li>
                      <% } %>
                    <% } else if(i == offset+1 || i == maxPage-offset){ %>
                      <li style="display : inline-block;">...</li>
                    <% } %>
                  <%}%>
            </ul>
          </div>
          <form class="col-sm-12" action="" id="search" style="width : 90%;">
              <table class="table">
                <tr>
                  <td class=col-sm-3>
                    <select class="form-control" name="searchType">
                      <% var select %>
                      <option value="subject"
                      <%= search.searchType=="subject"?select="selected":"" %>>subject</option>
                      <option value="body"
                      <%= search.searchType=="content"?select="selected":"" %>>content</option>
                    </select>
                  </td>
                  <td class="col-sm-7">
                    <input class="form-control" type="text" name="searchText" value="<%= select?search.searchText:"" %>">
                  </td>
                  <td class="col-sm-2">
                    <button class="btn btn-default" type="submit" style="width : 100%;">search</button>
                  </td>
                </tr>
              </table>
            </form>
    </div>
    <div class="col-sm-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          write
        </div>
        <div class="panel-body">
          <button class="btn btn-default" onclick="location.href='/board/freetalk/register'" style="width : 100%;">
              <i class="fas fa-pencil-alt"></i> write
          </button>
        </div>
      </div>
    </div>
<% include ../../footer.ejs %>