<% include ../../header.ejs %>
<% include ../../navibar.ejs %>

<div class="col-sm-8">
    <div class="panel panel-default">
        <div class="panel-heading">
            used
        </div>
    <%if(userData && userData._id == content.author){%>
        <div class="col-sm-12" style="text-align: right; padding-right: 2%; margin : 1%">
            <div class="col-sm-offset-8 col-sm-2"><a href="/admin/notice/edit/<%=content.id%>"><i class="fas fa-pencil-alt"></i>edit</a></div>
            <div class="col-sm-2"><a href=""><i class="far fa-trash-alt"></i>delete</a></div>
        </div>
    <%}%>
        <div class="panel-body form-group" style="padding : 3%;">
            <h2>
              <strong>|</strong> <%=content.subject%>
            </h2>
            <br>
            <div style="text-align: right; padding-right: 2%; font-size: 70%;">
                <span class="tag">seller</span> <%=content.author.profile.name%>
                <span class="tag">created_at</span> <%=content.created_at.toLocaleDateString()%>
            </div>
            <div style="padding : 2%; padding-bottom: 5%;">
            <!-- <table class="table table-borderless">
                <tr>
                    <td style="letter-spacing: 5px;"><span class="tag" style="background-color: #B40404;">price</span></td>
                    <td><%=content.getAmountFormat%></td>
                    <td style="letter-spacing: 5px;"><span class="tag" style="background-color: #B40404;">phone</span></td>
                    <td><%=content.author.profile.phone%></td>
                </tr>
            </table> -->
            <%-content.content%>
            </div>
        </div>
    </div>
    <% include ../../modules/comment.ejs%>
</div>
<div class="col-sm-4">
    광고
</div>

<% include ../../footer.ejs %>